# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
basic-assignment/node_modules/

# testing
basic-assignment/coverage

# production
basic-assignment/build

# misc
basic-assignment/.DS_Store
basic-assignment/.env.local
basic-assignment/.env.development.local
basic-assignment/.env.test.local
basic-assignment/.env.production.local

basic-assignment/npm-debug.log*
basic-assignment/yarn-debug.log*
basic-assignment/yarn-error.log*
